

body{

margin: 0px;
padding: 30px;
overflow: hidden;
background: #313131;

}

.canvas {
    box-shadow: -3px 2px 9px 6px black;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid white;
    align-self: center;
    margin: 0 5px;
}

.tools button {
 align-self: center;
 width: 80px;
 height: 30px;
 border:  2px solid white;
 cursor: pointer;
 color: white;
 background:#222 ;
 font-weight: bold;
 margin: 0px 5px;



}

.color-picker {
    align-self: center;
    margin:  0 5px;
    height: 15px;
    cursor: pointer;
    
}

